In [ ]:
import pandas as pd
import numpy as np

In [ ]:
main_power = pd.read_csv("/content/PowerGeneration.csv")

In [ ]:
power1=main_power.copy()

In [ ]:
power1.head()

,Dates,Power Station,Monitored Cap.(MW),Total Cap. Under Maintenace (MW),Planned Maintanence (MW),Forced Maintanence(MW),Other Reasons (MW),Programme or Expected(MU),Actual(MU),Excess(+) / Shortfall (-),Deviation
0,2017-09-01,Delhi,2235.4,135.00,0.00,135.0,0,13,18,5.00,0.0
1,2017-09-01,Haryana,2720.0,2470.00,0.00,2470.0,0,28,7,-21.80,0.0
2,2017-09-01,Himachal Pradesh,3378.0,379.00,0.00,231.0,0,40,46,5.63,0.0
3,2017-09-01,Jammu and Kashmir,1285.0,150.00,0.00,0.0,0,14,23,9.43,0.0
4,2017-09-01,Punjab,3826.3,2697.65,77.65,2620.0,0,39,17,-21.69,0.0

In [ ]:
power1.columns

Index(['Dates', 'Power Station', 'Monitored Cap.(MW)',
       'Total Cap. Under Maintenace (MW)', 'Planned Maintanence (MW)',
       'Forced Maintanence(MW)', 'Other Reasons (MW)',
       'Programme or Expected(MU)', 'Actual(MU)', 'Excess(+) / Shortfall (-)',
       'Deviation'],
      dtype='object')

In [ ]:
power1.columns=power1.columns.str.lower().str.replace(" ","_").str.replace("(+)_/_","_or_").str.replace("_(-)","").str.replace(".","_")

In [ ]:
power1['dates'] = pd.to_datetime(power1['dates'],format='%Y-%m-%d')
power1['year']=power1['dates'].dt.year

1.Which Power Station had the highest total 'Deviation' in 2020?

In [ ]:
power1[power1['dates'].dt.year == 2020].groupby('power_station')['deviation'].max().head(1)

power_station
ABAN POWR    0.0
Name: deviation, dtype: float64

2.What is the average 'Forced Maintenance (MW)' for weekends in 2019?

In [ ]:
#get week ends
power1["weekends"]=power1.dates.dt.dayofweek
power1["weekends"].unique()
#condition for weekend
power1["is_week_end"]=(power1.weekends > 4) #0-mon

In [ ]:
# select year and use group by
power1[power1["year"] == 2019].groupby('is_week_end')['forced_maintanence(mw)'].mean()

is_week_end
False    318.453604
True     323.957762
Name: forced_maintanence(mw), dtype: float64

3.What is the total number of days in 2020 where 'Total Cap. Under Maintenace (MW)' exceeded 'Monitored Cap.(MW)' ?

In [ ]:
power1[power1["total_cap__under_maintenace_(mw)"] > power1["monitored_cap_(mw)"]].groupby(power1["year"] == 2020)['year'].value_counts()

year   year
False  2018    180
       2017    141
Name: count, dtype: int64

4.Which Power Station had the highest average 'Planned Maintenance (MW)' during the winter months (December to February) across all years?

In [ ]:
# use the dt.month to get month names and use boolen logical operator
power1.groupby([(power1['dates'].dt.month > 11) | (power1['dates'].dt.month < 3),"power_station"] )["planned_maintanence_(mw)"].mean().sort_values(ascending=False)

dates  power_station
True   Andhra Pradesh.    730.615385
       Uttar Pradesh      624.226216
       Maharashtra        615.479915
False  Maharashtra        558.428474
       Rajasthan          547.275154
                             ...
       NPGCPL               0.000000
       CLPINDIA             0.000000
       NDPL                 0.000000
True   HMEL                 0.000000
       BELLARY              0.000000
Name: planned_maintanence_(mw), Length: 363, dtype: float64

5.What is the median 'Actual (MU)' for each quarter in 2020?

In [ ]:
# select year and use groupby and use to_period('Q') to get quarter
power1[power1["year"] == 2020].groupby(power1['dates'].dt.to_period('Q'))['actual(mu)'].median()

dates
2020Q1    6.0
2020Q2    6.0
2020Q3    6.0
2020Q4    5.0
Freq: Q-DEC, Name: actual(mu), dtype: float64

6.What is the average 'Deviation' in the first quarter (Q1) of 2019?

In [ ]:
# select year and use groupby and use to_period('Q') to get quarter
power1[power1["year"] == 2019].groupby(power1['dates'].dt.to_period('Q'))['deviation'].mean()

dates
2019Q1    0.0
2019Q2    0.0
2019Q3    0.0
2019Q4    0.0
Freq: Q-DEC, Name: deviation, dtype: float64

7.What is the total 'Actual(MU)' generated on weekends (Saturday and Sunday) in 2018?

In [ ]:
# select year and use groupby
power1[power1["year"] == 2018].groupby('is_week_end')['actual(mu)'].sum()

is_week_end
False    876341
True     342018
Name: actual(mu), dtype: int64

8.Which Power Station had the highest average 'Excess(+) / Shortfall (-)' in 2019?

In [ ]:
# select year and use groupby
power1[power1["year"] == 2019].groupby('power_station')['excess_or_shortfall'].mean().sort_values(ascending=False)

power_station
GCEL                     8.262712
EPGL                     7.711370
BBMB                     7.560592
SPL                      5.955671
TOR. POW. (UNOSUGEN)     5.254548
                          ...
Karnataka              -14.318904
Maharashtra            -15.497288
Gujarat                -17.435890
Andhra Pradesh         -18.570317
Rajasthan              -26.199342
Name: excess_or_shortfall, Length: 167, dtype: float64

9.What is the median 'Total Cap. Under Maintenance (MW)' during the monsoon months (June to September) across all years?

In [ ]:
# use the dt.month to get month names and use boolen logical operator
power1.groupby((power1['dates'].dt.month > 5) & (power1['dates'].dt.month < 10) )["total_cap__under_maintenace_(mw)"].median()

dates
False    135.0
True     135.0
Name: total_cap__under_maintenace_(mw), dtype: float64

10.What is the percentage of days in 2020 where 'Actual(MU)' was less than 'Programme or Expected(MU)'?

In [ ]:
#new DataFrame for year 2020 and given condition and their count :
df = power1[power1["actual(mu)"] < power["programme_or_expected(mu)"]].groupby(power1['dates'].dt.year == 2020)['dates'].count()

# true_count => number of days where it satisfies the condition for the year 2020
T_count = df[True]

# total number of days in 2020
total_count = power1[power1['dates'].dt.year==2020]['dates'].count()

# ans => calculate percentage with the acquired values:
per= (T_count/total_count)*100
per

31.650966629725403